body {
    background-color: #0a0a23;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Set text color to contrast with the background */
}
.text-font {
    font-family: "Comfortaa";
    src: url('fonts/Comfortaa.ttf') format('truetype');
    font-weight: bold;
}

.top-bio {
    font-size: 28px;
    padding: 20px;
    text-align: center;
    font-family: "Comfortaa";
    src: url('fonts/Comfortaa.ttf') format('truetype');
}

/* Additional styles for Bio.html */
.white-container {
    padding: 20px;
    font-family: "Comfortaa";
    src: url('fonts/Comfortaa.ttf') format('truetype');
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Styles for the image slider */
.slider-container {
    padding: 12px; 
    position: flex;
    max-width: 50%; /* Set the maximum width of the slider */
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 50%; /* Each slide takes up 50% of the container */
    cursor: pointer;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Add rounded corners for a stylish look */
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.enlarged-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.enlarged-modal img {
    display: flex;
    border-radius: 10px; /* Add rounded corners for a stylish look */
}

.enlarged-modal.active {
    display: flex;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    z-index: 1;
}

.bg-dark {
    background-color: #4f262f; /* Dark background color */
}

.table-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    font-weight: bold;
    
    padding: 12px; /* Increase padding for better spacing */
    text-align: center;
}

tr:nth-child(even) {
    background-color: #4f262f; /* Alternate row background color */
}

@media (max-width: 768px) {
    table {
        font-size: 14px; /* Decrease font size on smaller screens */
    }
}

/*Cream Container 1 */
.cream-container {
    background-color: #fff8e1; /* Cream color */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px; /* Adding curved edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding professional shadowing */
    margin-top: 20px; /* Add space between hr and cream-container */
    margin-left: 10px; /* Add left margin */
    margin-right: 10px; /* Add right margin */
  }
  
  .cream-container img {
    border-radius: 20px; /* Adding curved edges */
    width: 50%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: auto;
  }
  
  .left-section { /* Styles for the left and right sections inside the container */
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    flex-direction: column; /* Display text and button in a column */
    align-items: center;
  }
  
  
  .text {
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px; /* Add space between text and button */
    margin-right: 200px;
    color:#0a0a23;
  }
  
  .explore-button {
    background-color: #0a0a23;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 200px;
  }

  .container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
    color: #ffffff;
    font-family: "Comfortaa";
    src: url('fonts/Comfortaa.ttf') format('truetype');
  }
  
  .custom-heading {
    font-size: 24px;
    color: #ec994b;
  }

  .textFont {
    font-family: "Comfortaa";
    src: url('fonts/Comfortaa.ttf') format('truetype');
}

.iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }
.iconbutton:hover{
    background-color: #ec994b;
  }

  .row-bottom {
    display: flex;
    justify-content: space-between;

    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 3%;

  }

/*{border: 1px solid red;} 
    /* Add a red border to all elements for visualization
     To check errors */