body {
  background: url("/static/Images/brown.jpg") center / cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff; /* Set text color to contrast with the background */
}
  
  .contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .contact-section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #007bff;
  }
  
  p {
    margin: 0;
  }