body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a23 ;
   /*background: url("/static/Images/brown.jpg") center / cover;*/

}
.carousel-container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto;
    perspective: 2000px; /* Add perspective for 3D effect */
}

.carousel {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    position: relative;
    transform-style: preserve-3d; /* Preserve 3D transformations */
    animation: spin 15s infinite linear; /* Rotate the carousel */
}

.slide {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; /* Preserve 3D transformations */
    transform-origin: center center; /* Set the rotation origin */
    transition: transform 1s; /* Add smooth transition */
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

@keyframes spin {
    from {
        transform: rotateY(0deg); /* Start rotation */
    }
    to {
        transform: rotateY(360deg); /* End rotation */
    }
}






/* CSS for the grid layout */
.grid-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    position: relative;
}

.image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* CSS for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.frame {
    border: 4px solid #0a0a23; /* Frame border */
    padding: 5px; /* Padding to separate image from frame */
    background-color: #0a0a23; /* Frame background color */
    display: inline-block; /* Make frame wrap around the image */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

.frame:hover {
    transform: scale(1.05); /* Scale up the frame on hover */
}

.gallery-button-container {
    width: 20%; /* Adjust the width as needed */
    text-align: center;
}

.gallery-button {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0a0a23;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gallery-button:hover {
    background-color: #1a1a3a; /* Darker shade of the background color on hover */
}

















/*CSS for the SLIDER */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Comfortaa";
  src: url('fonts/Comfortaa.ttf') format('truetype');
  scroll-behavior: smooth;
}



::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  color: #ec994b;
  font-family: "Comfortaa";
  src: url('fonts/Comfortaa.ttf') format('truetype');
}
.custom-heading {
  font-size: 24px;
}


.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}



#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}



.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}


.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 50rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .description {
  font-family: "Comfortaa";
  src: url('fonts/Comfortaa.ttf') format('truetype');
  font-weight: bold;
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}


.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.larger-name {
  font-size: 48px; /* Adjust the font size as needed */
  color: rgb(255, 255, 255);
}


/*Cream Container 1 */
.cream-container {
  background-color: #fff8e1; /* Cream color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px; /* Adding curved edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding professional shadowing */
  margin-top: 20px; /* Add space between hr and cream-container */
  margin-left: 50px; /* Add left margin */
  margin-right: 50px; /* Add right margin */
}
.cream-container img {
  border-radius: 20px; /* Adding curved edges */
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: auto;

}

.left-section { /* Styles for the left and right sections inside the container */
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  flex-direction: column; /* Display text and button in a column */
  align-items: center;
}


.text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px; /* Add space between text and button */
  margin-right: 200px;
  color:#000000;
}

.explore-button {
  background-color: #0a0a23;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 200px;
}






/*Cream Container 2 */
.cream-container2 {
  background-color: #0a0a23; /* Cream color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px; /* Adding curved edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding professional shadowing */
  margin-top: 20px; /* Add space between hr and cream-container */
  margin-left: 50px; /* Add left margin */
  margin-right: 50px; /* Add right margin */
}
.cream-container2 img {
  border-radius: 20px; /* Adding curved edges */
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: auto;

}

.right-section2 {
  display: flex;
  align-items: center;
}

.left-section2 {
  display: flex;
  flex-direction: column; /* Display text and button in a column */
  align-items: center;
}



.text2 {   /* Styles for the bold text and explore button */
  font-family: 'Comfortaa', sans-serif;
  color:#ffffff;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px; /* Add space between text and button */
  margin-left: 200px;
}

.gallery-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 200px;
}



/*{
    border: 1px solid red;
}