body {
    font-family: 'Comfortaa', sans-serif;
    background: url("/static/Images/brown.jpg") center / cover;
    /*background: url("/static/Images/brown.jpg") center / cover;*/
    padding: 0;
    margin: 0;
}

