<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Top section -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Calibri:wght@400;300&display=swap" rel="stylesheet">
</head>

<body> 
 <!-- Main navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link" id="home" href="/">MAIN</a>
            <a class="nav-item nav-link" id="bio" href="/bio">BIOGRAPHY</a>
            <a class="nav-item nav-link" id="gallery" href="/gallery">GALLERY</a>
            <a class="nav-item nav-link" id="contacts" href="/contacts">CONTACTS</a>
        </div>

        <!-- Language Switch Button -->
        <div class="navbar-nav">
            <div class="language-switch ml-auto">
                {% if session['lang'] == 'en' %}
                <a href="{{ url_for('views.set_language', lang='ru') }}">RU</a>
                {% else %}
                <a href="{{ url_for('views.set_language', lang='en') }}">EN</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div style="margin: 5%; margin-left: 13%; margin-right: 13%;">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer section -->
    <footer class="footer-section botBorder">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-12 col-md text-center footerText social">
                    All works © Abu Pashaev
                </div>

                <div class="col-12 col-md text-center footerText social">
                    E
                    <a href="mailto:info@AbuPashaev.com" target="_blank"><img
                        src="static/Images/logos/mail.png" alt="EmailSign"></a>ail
                </div>
                
                <div class="col-12 col-md text-center footerText social">
                    <a href="https://www.instagram.com/pashaev.abu/" target="_blank"><img
                            src="static/Images/logos/instagram.png" alt="Instagram"></a>
                </div>

                <div class="col-12 col-md text-center footerText social">
                    <a href="https://www.instagram.com/pashaev.abu/" target="_blank">Buy me a Coffee<img
                            src="static/Images/logos/coffee.png" alt="Donate"></a>
                </div> 
                <div class="col-12 col-md text-center footerText social">
                    <a href="https://www.instagram.com/pashaev.abu/" target="_blank">DONATE<img
                            src="static/Images/logos/donate.png" alt="Donate"></a>
                </div> 
            </div>
        </div>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</html>
